<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossclassify.examlpeapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.crossclassify.examlpeapp.ui.commonEpoxyExample.Epoxy2Activity"
            android:exported="false" />
        <activity
            android:name="com.crossclassify.examlpeapp.ui.defaultEpoxyWithControllerExample.EpoxyActivity"
            android:exported="false" />
        <activity
            android:name="com.crossclassify.examlpeapp.ui.defaultRecyclerViewExample.RecyclerActivity"
            android:exported="false" />
        <activity
            android:name="com.crossclassify.examlpeapp.ui.simpleUsageExample.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.crossclassify.examlpeapp.ui.simpleUsageExample.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.crossclassify.examlpeapp.ui.simpleUsageExample.LoginActivity"
            android:exported="true" />
    </application>

</manifest>